<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/w3.css">
  </head>
<body>
  <div class="w3-container w3-margin w3-purple">
    <h1 class="w3-panel w3-blue w3-round-small w3-center">Shopping List Check Off</h1>
    <div class="w3-cell-row">
      <!-- To Buy List -->
      <div class="w3-cell w3-padding" style="width: 50%;" ng-controller="ToBuyController as list">
       
       <ul class="w3-ul w3-card w3-padding w3-white">
        <li><h2>To Buy:</h2></li>
        <li ng-repeat="item in list.items" class="w3-display-container">
          Buy {{ item.quantity }} {{ item.name }}
          <button class="w3-btn w3-small w3-green w3-round-small w3-display-right" ng-click="list.buyItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button>
          <!-- <span onclick="this.parentElement.style.display='none'" class="w3-btn w3-display-right w3-red">&times;</span> -->
        </li>
         <!-- <li>Buy 10 cookies <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li> -->
       </ul>

       <div ng-if="!list.items.length" class="emptyMessage w3-leftbar w3-border-green w3-panel w3-pale-green w3-padding">Everything is bought!</div>
      </div>

      <!-- Already Bought List -->
      <div class="w3-cell w3-padding w3-leftbar w3-border-red" ng-controller="AlreadyBoughtController as list">
         
         <ul class="w3-ul w3-card w3-padding w3-white">
            <li><h2>Already Bought:</h2></li>
           <li ng-repeat="item in list.items"><img src="icons/checked.svg" alt="checked"> Bought {{ item.quantity }} {{ item.name }}</li>
         </ul>
         <div ng-if="!list.items.length" class="emptyMessage w3-panel w3-leftbar w3-border-red w3-padding w3-pale-red">Nothing bought yet.</div>
      </div>
    </div>
</div>
</body>
</html>
